{
  "plugins": [
    ["transform-react-jsx", { "pragma": "h" }]
  ],
  "presets": [
    ["env", { modules: false }]
  ],
  "env": {
    "test": {
      "presets": [
        ["env"]
      ],
    }
  }
}
