button {
  border-color: black;
  border-radius: 0px;
  border-style: solid;
  border-width: 1px;
  width: 30px;
  height: 30px;
  outline-color: darkturquoise;
}

.counter {
  text-align: center;
}

.line-break {
  width: 300px;
  margin-bottom: 30px;
}

.add {
  background-color: mediumseagreen;
  font-size: 20px;
  color: black;
}

.sub {
  background-color: mediumvioletred;
  font-size: 20px;
  color: black;
}
